.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: grey;
  color: skyblue;
}
#about image {
  height: 50px;
}
.navlink {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.wild {
  width: 70%;
}
.column {
  position: relative;
  display: flex;
}
.column div{
  width: 500px;
}
.column #jengwa img{
  height: 220px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column image {
  width: 60px;
}
.fixIt{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
#rover{
  width: 150px;
  height: 100px;
}
#jeep{
  width: 150px;
  height: 100px;
}
#ford{
  width: 150px;
  height: 100px;
}
/* .vehiclesZetu{
  width: 20px;
} */
